__pycache__/
../.idea/
*.log
*.pot
*.pyc
db.sqlite3
env/
virt_env/
log/
.vscode/
.lock
.dart_tool
build/

# VS code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history